data/processed/*
!data/processed/.gitkeep
data/raw/*
!data/raw/.gitkeep
src/tweet_sentiment_anlaysis.egg-info/*
artifacts/*
logs/*
wandb/*
.DS_Store
notes.md
.env
models/*
configs/vertex_config.yaml
src/tweet_sentiment_analysis/__pycache__/*
downloaded_model/*
!downloaded_model/.gitkeep
set_env_vars.py
src/tweet_sentiment_analysis/__pycache__/__init__.cpython-310.pyc
set_env_vars.py
